In [2]:
import numpy as np
import pandas as pd

np.set_printoptions(precision=2)

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/gardenappl/uni/main/semester7/nn/seminar1.csv")

In [4]:
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

Скільки чоловіків та жінок (ознака sex) представлено в цьому наборі даних?

In [16]:
data[data['sex'] == 'Male'].shape[0]

21790

In [17]:
data[data['sex'] == 'Female'].shape[0]

10771

Який середній вік жінок (ознака age)?

In [19]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

Яка частка громадян Німеччини (ознака native-country)?

In [22]:
(data['native-country'] == 'Germany').mean()

0.004207487485028101

Які середні значення та середньоквадратичні відхилення віку тих, хто отримує більше 50К в
рік (ознака salary) та менше або рівно 50К в рік?

In [29]:
data[data['salary'] == ">50K"]['age'].mean(), \
data[data['salary'] == ">50K"]['age'].std()

(44.24984058155847, 10.51902771985177)

In [30]:
data[data['salary'] == "<=50K"]['age'].mean(), \
data[data['salary'] == "<=50K"]['age'].std()

(36.78373786407767, 14.020088490824813)

Чи правда, що люди, які отримують більше 50К, мають як мінімум вищу освіту (ознака
education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate)?

In [51]:
data[(data['salary'] == ">50K")]['education']

7             HS-grad
8             Masters
9           Bachelors
10       Some-college
11          Bachelors
             ...
32539       Doctorate
32545      Assoc-acdm
32554         Masters
32557         HS-grad
32560         HS-grad
Name: education, Length: 7841, dtype: object

In [52]:
data[(data['salary'] == ">50K")]['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']).all()

False

Виведіть статистику віку для кожної раси (ознака race) і статі. Використовуйте groupby та
describe. Знайдіть максимальний вік чоловіків раси Amer-Indian-Eskimo.

In [60]:
for race_sex, sub_df in data.groupby(['race', 'sex']):
  print(race_sex)
  print(sub_df['age'].describe())
  print()

('Amer-Indian-Eskimo', 'Female')
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64

('Amer-Indian-Eskimo', 'Male')
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64

('Asian-Pac-Islander', 'Female')
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64

('Asian-Pac-Islander', 'Male')
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64

('Black', 'Female')
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

('Black', 'Male')
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

('Other', 'Female')
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64

('Other', 'Male')
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64

('White', 'Female')
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

('White', 'Male')
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [104]:
data[(data['race'] == "Amer-Indian-Eskimo") & (data['sex'] == "Male")]['age'].max()

82

Серед кого більша частка з високою зарплатнею (>50K): серед одружених або неодружених
чоловіків (ознака marital-status)? Одруженими вважаємо тих, у кого marital-status починається
з Married (Married-civ-spouse, Married-spouse-absent, Married-AF-spouse), інших вважаємо
неодруженими.

In [93]:
(data[(data['marital-status'].str.startswith("Married")) & (data['sex'] == 'Male')]['salary'] == ">50K").mean()

0.4405139945351156

In [92]:
(data[~(data['marital-status'].str.startswith("Married")) & (data['sex'] == 'Male')]['salary'] == ">50K").mean()

0.08449509031397745

Яку максимальну кількість годин людина працює на тиждень (ознака hours-per-week)?
Скільки людей працюють таку кількість годин і який серед них відсоток заробляють багато?

In [86]:
max_hours = data['hours-per-week'].max()

In [87]:
max_hours

99

In [90]:
data[data['hours-per-week'] == max_hours].shape[0]

85

In [94]:
(data[data['hours-per-week'] == max_hours]['salary'] == ">50K").mean()

0.29411764705882354

Порахуйте середній час роботи (ознака hours-per-week) тих, хто заробляє мало і багато для
кожної країни (ознака native-country).

In [102]:
for (country, salary), subdf in data.groupby(['native-country', 'salary']):
  print(f"{country} and {salary}: {subdf['hours-per-week'].mean()}")

? and <=50K: 40.16475972540046
? and >50K: 45.54794520547945
Cambodia and <=50K: 41.416666666666664
Cambodia and >50K: 40.0
Canada and <=50K: 37.91463414634146
Canada and >50K: 45.64102564102564
China and <=50K: 37.38181818181818
China and >50K: 38.9
Columbia and <=50K: 38.68421052631579
Columbia and >50K: 50.0
Cuba and <=50K: 37.98571428571429
Cuba and >50K: 42.44
Dominican-Republic and <=50K: 42.338235294117645
Dominican-Republic and >50K: 47.0
Ecuador and <=50K: 38.041666666666664
Ecuador and >50K: 48.75
El-Salvador and <=50K: 36.03092783505155
El-Salvador and >50K: 45.0
England and <=50K: 40.483333333333334
England and >50K: 44.53333333333333
France and <=50K: 41.05882352941177
France and >50K: 50.75
Germany and <=50K: 39.13978494623656
Germany and >50K: 44.97727272727273
Greece and <=50K: 41.80952380952381
Greece and >50K: 50.625
Guatemala and <=50K: 39.36065573770492
Guatemala and >50K: 36.666666666666664
Haiti and <=50K: 36.325
Haiti and >50K: 42.75
Holand-Netherlands and <=50K: 40.0
Honduras and <=50K: 34.333333333333336
Honduras and >50K: 60.0
Hong and <=50K: 39.142857142857146
Hong and >50K: 45.0
Hungary and <=50K: 31.3
Hungary and >50K: 50.0
India and <=50K: 38.233333333333334
India and >50K: 46.475
Iran and <=50K: 41.44
Iran and >50K: 47.5
Ireland and <=50K: 40.94736842105263
Ireland and >50K: 48.0
Italy and <=50K: 39.625
Italy and >50K: 45.4
Jamaica and <=50K: 38.23943661971831
Jamaica and >50K: 41.1
Japan and <=50K: 41.0
Japan and >50K: 47.958333333333336
Laos and <=50K: 40.375
Laos and >50K: 40.0
Mexico and <=50K: 40.00327868852459
Mexico and >50K: 46.57575757575758
Nicaragua and <=50K: 36.09375
Nicaragua and >50K: 37.5
Outlying-US(Guam-USVI-etc) and <=50K: 41.857142857142854
Peru and <=50K: 35.06896551724138
Peru and >50K: 40.0
Philippines and <=50K: 38.065693430656935
Philippines and >50K: 43.032786885245905
Poland and <=50K: 38.166666666666664
Poland and >50K: 39.0
Portugal and <=50K: 41.93939393939394
Portugal and >50K: 41.5
Puerto-Rico and <=50K: 38.470588235294116
Puerto-Rico and >50K: 39.416666666666664
Scotland and <=50K: 39.44444444444444
Scotland and >50K: 46.666666666666664
South and <=50K: 40.15625
South and >50K: 51.4375
Taiwan and <=50K: 33.774193548387096
Taiwan and >50K: 46.8
Thailand and <=50K: 42.86666666666667
Thailand and >50K: 58.333333333333336
Trinadad&Tobago and <=50K: 37.05882352941177
Trinadad&Tobago and >50K: 40.0
United-States and <=50K: 38.79912723305605
United-States and >50K: 45.50536884674383
Vietnam and <=50K: 37.193548387096776
Vietnam and >50K: 39.2
Yugoslavia and <=50K: 41.6
Yugoslavia and >50K: 49.5