# Розв'язати задачі за допомогою Pandas.

In [ ]:
import pandas as pd

## Обрати датасет, вивести датасет
З державного веб-порталу відкритих даних оберемо невеликий датасет: "*Оплати надавачам медичної допомоги за програмою медичних гарантій*"

https://data.gov.ua/dataset/25a46db9-2f15-4302-9b59-9bd761c80f46

Опис атрибутів наборів даних:

https://data.gov.ua/dataset/25a46db9-2f15-4302-9b59-9bd761c80f46/resource/faac1e9d-185d-4632-a48b-3bd7dfb53056

In [ ]:
df = pd.read_csv('https://data.gov.ua/dataset/9ebd7456-2992-450f-bd9f-fdaf083bab20/resource/2c687f30-da1e-45e1-b1d6-0957df358a30/download/payments_on_contracts_pmg_2022.csv')

In [ ]:
df.head()

,legal_entity_edrpou,period_month,period_year,package_id,pay_package,pay_all,contract_number,pay_date,legal_entity_name,doc_parent,pay_type,kekp,referral
0,ФОП,1,2022,1,93196.40,93196.40,0000-058P-M000,2022-01-21,ФОП ПОЙДА СВІТЛАНА БОРИСІВНА,2356206882F22A1A,2,2240,Надання первинної медичної допомоги
1,ФОП,2,2022,1,93317.46,93317.46,0000-058P-M000,2022-02-08,ФОП ПОЙДА СВІТЛАНА БОРИСІВНА,2356206882F22B1A,2,2240,Надання первинної медичної допомоги
2,ФОП,1,2022,1,73453.57,73453.57,0000-00E6-M000,2022-01-25,ФОП ГЕРАСІЙ ВОЛОДИМИР ДМИТРОВИЧ,2257504615F22A1A,2,2240,Надання первинної медичної допомоги
3,38960413,1,2022,1,3484994.03,3484994.03,0000-009P-M000,2022-01-25,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""ЦЕНТР ПЕ...",0038960413F22A1A,2,2240,Надання первинної медичної допомоги
4,38960413,2,2022,1,3547373.99,3547373.99,0000-009P-M000,2022-02-07,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""ЦЕНТР ПЕ...",0038960413F22B1A,2,2240,Надання первинної медичної допомоги

## З'ясувати чи є дані, що відсутні (NaN), виконати заміну відсутніх даних, наприклад на 0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17056 entries, 0 to 17055
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   legal_entity_edrpou  17056 non-null  object
 1   period_month         17056 non-null  int64
 2   period_year          17056 non-null  int64
 3   package_id           17056 non-null  int64
 4   pay_package          17056 non-null  float64
 5   pay_all              17056 non-null  float64
 6   contract_number      17056 non-null  object
 7   pay_date             17056 non-null  object
 8   legal_entity_name    17056 non-null  object
 9   doc_parent           17056 non-null  object
 10  pay_type             17056 non-null  int64
 11  kekp                 17056 non-null  int64
 12  referral             17056 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 1.7+ MB

Бачимо, що non-null count в усіх стовпцях дорівнює кількості рядків, отже відсутніх даних не повинно бути.

Впевнимося в цьому:

In [ ]:
df.isnull().values.any()

False

Припустимо, що в нас все ж є дані NaN або null і їх треба видалити.

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy.at[0, 'contract_number'] = None

In [ ]:
import numpy as np
df_copy.at[0, 'pay_package'] = np.nan

In [ ]:
df_copy.head()

,legal_entity_edrpou,period_month,period_year,package_id,pay_package,pay_all,contract_number,pay_date,legal_entity_name,doc_parent,pay_type,kekp,referral
0,ФОП,1,2022,1,NaN,93196.40,None,2022-01-21,ФОП ПОЙДА СВІТЛАНА БОРИСІВНА,2356206882F22A1A,2,2240,Надання первинної медичної допомоги
1,ФОП,2,2022,1,93317.46,93317.46,0000-058P-M000,2022-02-08,ФОП ПОЙДА СВІТЛАНА БОРИСІВНА,2356206882F22B1A,2,2240,Надання первинної медичної допомоги
2,ФОП,1,2022,1,73453.57,73453.57,0000-00E6-M000,2022-01-25,ФОП ГЕРАСІЙ ВОЛОДИМИР ДМИТРОВИЧ,2257504615F22A1A,2,2240,Надання первинної медичної допомоги
3,38960413,1,2022,1,3484994.03,3484994.03,0000-009P-M000,2022-01-25,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""ЦЕНТР ПЕ...",0038960413F22A1A,2,2240,Надання первинної медичної допомоги
4,38960413,2,2022,1,3547373.99,3547373.99,0000-009P-M000,2022-02-07,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""ЦЕНТР ПЕ...",0038960413F22B1A,2,2240,Надання первинної медичної допомоги

In [ ]:
df_copy.isnull().values.any()

True

Отже, створили копію датасету, тепер з відсутніми даними. Замінимо їх значення на 0:

In [ ]:
df_copy.fillna(0, inplace=True)

In [ ]:
df_copy.isnull().values.any()

False

Об'єкти з NaN в нашій копії датасету тепер **відсутні**.

In [ ]:
df_copy.head()

,legal_entity_edrpou,period_month,period_year,package_id,pay_package,pay_all,contract_number,pay_date,legal_entity_name,doc_parent,pay_type,kekp,referral
0,ФОП,1,2022,1,0.00,93196.40,0,2022-01-21,ФОП ПОЙДА СВІТЛАНА БОРИСІВНА,2356206882F22A1A,2,2240,Надання первинної медичної допомоги
1,ФОП,2,2022,1,93317.46,93317.46,0000-058P-M000,2022-02-08,ФОП ПОЙДА СВІТЛАНА БОРИСІВНА,2356206882F22B1A,2,2240,Надання первинної медичної допомоги
2,ФОП,1,2022,1,73453.57,73453.57,0000-00E6-M000,2022-01-25,ФОП ГЕРАСІЙ ВОЛОДИМИР ДМИТРОВИЧ,2257504615F22A1A,2,2240,Надання первинної медичної допомоги
3,38960413,1,2022,1,3484994.03,3484994.03,0000-009P-M000,2022-01-25,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""ЦЕНТР ПЕ...",0038960413F22A1A,2,2240,Надання первинної медичної допомоги
4,38960413,2,2022,1,3547373.99,3547373.99,0000-009P-M000,2022-02-07,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""ЦЕНТР ПЕ...",0038960413F22B1A,2,2240,Надання первинної медичної допомоги

## Виконати сумування декількох стовбців для додавання підсумкового стовбця

В нашому випадку вже маємо певний підсумковий стовпчик, тому більш доречно виконати віднімання:

In [ ]:
df['pay_other'] = df['pay_all'] - df['pay_package']

In [ ]:
with_other = df[(df['pay_other'] > 0.0)]

In [ ]:
with_other.head()

,legal_entity_edrpou,period_month,period_year,package_id,pay_package,pay_all,contract_number,pay_date,legal_entity_name,doc_parent,pay_type,kekp,referral,pay_other
4180,00184945,2,2022,4,3605936.51,12748619.87,0026-E122-P000,2022-02-11,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""КИЇВСЬКА...",0000184945S22B1A,2,2240,"Надання вторинної,третинної,паліат.мед.доп.,ме...",9142683.36
4181,00184945,2,2022,9,292493.40,12748619.87,0026-E122-P000,2022-02-11,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""КИЇВСЬКА...",0000184945S22B1A,2,2240,"Надання вторинної,третинної,паліат.мед.доп.,ме...",12456126.47
4182,00184945,2,2022,26,541000.00,12748619.87,0026-E122-P000,2022-02-11,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""КИЇВСЬКА...",0000184945S22B1A,2,2240,"Надання вторинної,третинної,паліат.мед.доп.,ме...",12207619.87
4183,00184945,2,2022,31,482960.06,12748619.87,0026-E122-P000,2022-02-11,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""КИЇВСЬКА...",0000184945S22B1A,2,2240,"Надання вторинної,третинної,паліат.мед.доп.,ме...",12265659.81
4184,00184945,2,2022,47,185608.35,12748619.87,0026-E122-P000,2022-02-11,"КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО ""КИЇВСЬКА...",0000184945S22B1A,2,2240,"Надання вторинної,третинної,паліат.мед.доп.,ме...",12563011.52

## За обраними даними зробити проміжні висновки по декількох категоріям.

Згідно з [описом атрибутів наборів даних](https://data.gov.ua/dataset/25a46db9-2f15-4302-9b59-9bd761c80f46/resource/faac1e9d-185d-4632-a48b-3bd7dfb53056):
*  `pay_all` - Оплата по договору за вказаний період, грн
* `pay_package` - Сума за пакетом послуг, що оплачена за вказаний період, грн

In [ ]:
with_other.shape[0]

12196

In [ ]:
df[(df['pay_other'] == 0)].shape[0]

4860

Бачимо, що більшість платежів від НСЗУ були не лише за якимось пакетом послуг.

In [ ]:
df['pay_all'].sum()

76782879180.12

In [ ]:
df['pay_other'].sum()

60711226779.55999

In [ ]:
df['pay_package'].sum()

16071652400.560001

Платежі за пакетами послуг становлять меншу частину загальних платежів.
**Проте в датасеті бачимо по декілька платежів для одних і тих самих надавачів медичних послуг, отже виконаємо групування.**

In [ ]:
grouped = df.groupby(['legal_entity_edrpou', 'legal_entity_name'])

In [ ]:
other_payments_for_entity = grouped['pay_other'].sum()

In [ ]:
other_payments_for_entity

legal_entity_edrpou  legal_entity_name
00184945             КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО "КИЇВСЬКА МІСЬКА КЛІНІЧНА ЛІКАРНЯ ШВИДКОЇ МЕДИЧНОЇ ДОПОМОГИ" ВИКОНАВЧОГО ОРГАНУ КИЇВСЬКОЇ МІСЬКОЇ РАДИ (КИЇВСЬКОЇ МІСЬКОЇ ДЕРЖАВНОЇ АДМІНІСТРАЦІЇ)       1.274862e+08
00185011             КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО "ДИТЯЧА КЛІНІЧНА ЛІКАРНЯ № 5 СВЯТОШИНСЬКОГО РАЙОНУ МІСТА КИЄВА" ВИКОНАВЧОГО ОРГАНУ КИЇВСЬКОЇ МІСЬКОЇ РАДИ (КИЇВСЬКОЇ МІСЬКОЇ ДЕРЖАВНОЇ АДМІНІСТРАЦІЇ)    1.104498e+06
00185028             КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО "КИЇВСЬКА МІСЬКА КЛІНІЧНА ЛІКАРНЯ №5" ВИКОНАВЧОГО ОРГАНУ КИЇВСЬКОЇ МІСЬКОЇ РАДИ (КИЇВСЬКОЇ МІСЬКОЇ ДЕРЖАВНОЇ АДМІНІСТРАЦІЇ)                              1.072854e+08
00214534             ПРИВАТНЕ АКЦІОНЕРНЕ ТОВАРИСТВО "ЗАВОД ПІВДЕНКАБЕЛЬ"                                                                                                                                           0.000000e+00
00440221             КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО "МІСЬКА ЛІКАРНЯ №8" ЗАПОРІЗЬКОЇ МІСЬКОЇ РАДИ                                                                                                             8.100532e+07
                                                                                                                                                                                                                       ...
ФОП                  ФОП ЯКОВЛЄВА АЗНІВ НОРАЙРІВНА                                                                                                                                                                 0.000000e+00
                     ФОП ЯРЕМА АНТОН МИХАЙЛОВИЧ                                                                                                                                                                    0.000000e+00
                     ФОП ЯРЕМА ЛАРИСА МИКОЛАЇВНА                                                                                                                                                                   0.000000e+00
                     ФОП ЯЦЕНКО ОКСАНА ВІКТОРІВНА                                                                                                                                                                  0.000000e+00
                     ФОП ЯЩИШИН ОКСАНА МИХАЙЛІВНА                                                                                                                                                                  0.000000e+00
Name: pay_other, Length: 3221, dtype: float64

In [ ]:
len(other_payments_for_entity[other_payments_for_entity > 0])

1158

In [ ]:
len(other_payments_for_entity[other_payments_for_entity == 0])

2063

Хоча ці "інші" платежі становлять більшість за сумою в гривнях та кількістю платежів, більшість юридичних/фізичних осіб їх не отримували.

In [ ]:
groupedp = df[df['legal_entity_edrpou'] == 'ФОП'].groupby(['legal_entity_name'])

In [ ]:
other_payments_for_p = groupedp['pay_other'].sum()

In [ ]:
other_payments_for_p[other_payments_for_p > 0]

legal_entity_name
ФОП ГОНЧАРУК ВЛАДЛЕН МИКОЛАЙОВИЧ    6181320.0
Name: pay_other, dtype: float64

Лише один ФОП отримав платіж від НСЗУ не за пакетом послуг.

In [ ]:
groupedid = df.groupby('package_id')

In [ ]:
groupedid[['pay_all', 'pay_other']].sum()

                 pay_all     pay_other
package_id
1           4.057835e+09  0.000000e+00
2           1.893513e+09  0.000000e+00
3           7.558065e+09  5.805010e+09
4           8.262511e+09  6.413666e+09
9           9.863932e+09  7.730835e+09
17          1.892325e+09  1.623022e+09
19          1.075788e+09  5.345688e+08
23          5.897054e+09  5.731128e+09
24          5.128449e+09  4.828958e+09
25          1.402868e+09  1.353280e+09
26          4.179885e+09  3.863603e+09
27          4.290964e+09  4.123560e+09
31          6.032838e+09  4.136122e+09
34          4.360938e+09  4.301192e+09
38          1.329651e+09  1.111428e+09
42          3.187236e+09  2.844301e+09
47          6.369026e+09  6.310553e+09

In [ ]:
groupedid[['pay_all', 'pay_other']].sum().idxmax()

pay_all      9
pay_other    9
dtype: int64

Бачимо, що найбільше фінансування отримують за пакетом ID 9, як і власне пакетними, так і "іншими" платежами.

На жаль, не зовсім зрозуміло, чому відповідають різні номери пакетів послуг. За [вимогами програми медичних послуг 2022 року](https://contracting.nszu.gov.ua/vimogi-pmg-2022) їх має бути 37, а не 47. Це може свідчити про недостатню прозорість наданих даних.